/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
$tipografia: "Oswald", sans-serif;

/*Paleta de colores de la web*/
$colorPrimario: #1b1550;
$colorSecundario: #b1bdac;
$colorTerciario: #ff7300;