@use "../utilities/variables" as v;

.btn-adidas {
    background-color: v.$colorSecundario;
    border: 2px v.$colorTerciario solid;
    &:hover{
        background-color: v.$colorTerciario;
    }
}

.btn-comprar{
    background-color: v.$colorTerciario;
    color: v.$colorPrimario;
    border-color: v.$colorTerciario;
}